.profil-name {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.profil-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-row {
    flex-direction: row;
}

.detay-text {
    text-align: left;
}
